body{
    background-color: #eeeee2;
    color: #ea5b1d;
}

.dark button{
    background-color: #ea5b1d;
    border: 1px solid beige;
    box-shadow: 0px 8px 13px 0px #f8a581;
}
button{
    text-align: center;
    font-size: 22px;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
    box-shadow: 0px 8px 15px 2px #9d3002;
}
button:hover{
    background-color: rgb(245, 196, 173);
}
